<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.mapper.UserMapper">
    
    <select id="findAll" resultType="User">
        select * from user_p
    </select>
    <select id="findUserByRole" resultType="User">
        select * from user_p where upower=#{upower}
    </select>
    <insert id="addUser">
    	insert into user_p(uid,uname,urname,uemail,uuser,upassword,sex,tel,post,uaddress,qq,upower)
    	values(#{uid},#{uname},#{urname},#{uemail},#{uuser},#{upassword},#{sex},#{tel},#{post},#{uaddress},#{qq},#{upower})
    </insert>
    
    <select id="findUserById" resultType="User">
    	select * from user_p where uid=#{uid}
    </select>
    
    <update id="updateUser">
        update user_p <set>
        <if test="uname!=null">uname=#{uname},</if>
        <if test="urname!=null">urname=#{urname},</if>
        <if test="uemail!=null">uemail=#{uemail},</if>
        <if test="uuser!=null">uuser=#{uuser},</if>
        <if test="upassword!=null">upassword=#{upassword},</if>
        <if test="sex!=null">sex=#{sex},</if>
        <if test="tel!=null">tel=#{tel},</if>
        <if test="uname!=null">post=#{post},</if>
        <if test="post!=null">uaddress=#{uaddress},</if>
        <if test="qq!=null">qq=#{qq},</if>
        <if test="upower!=null">upower=#{upower}</if>
    </set>
        where uid=#{uid}
    </update>
    
    <delete id="deleteUser">
    	delete from user_p where uid=#{uid}
    </delete>

    <insert id="saveUser">
        insert into user_p(uid,uname,urname,uemail,upassword,sex,tel,uaddress,post,qq,upower) values(#{uid},#{uname},#{urname},#{uemail},#{upassword},#{sex},#{tel},#{uaddress},#{post},#{qq},#{upower})
    </insert>

    <select id="findUserByUserName" resultType="User">
        SELECT * from user_p where uname=#{userName}
    </select>

    <select id="findUserByUsernameAndPassword" resultType="User">
        select * from user_p where uname=#{userName} and upassword=#{password}
    </select>
</mapper>